*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 85%, rgba(255,154,2,1) 100%);
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.button {
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #ff9a02;
    color: white;
    font-size: 20px;
}